@*@model List<WebShopping.Models.CartItem>*@
@model IEnumerable<WebShopping.Models.CartItem>



@{
    ViewBag.Title = "Index";
}
@section jsFooter{
    <script src="~/Scripts/Controller/CartController.js"></script>
}
<h2>Index</h2>

<div class="content">
    <div class="section group">
        @*@if (Model > 0)*@
        @if (Model.Count() > 0)

        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var Total = Convert.ToDouble(item.Product.UnitPrice * item.Quantity);
                        <tr>
                            <td>@item.Product.ID</td>
                            <td>@item.Product.Name</td>
                            @*dự định truyền update qua form collection*@
                            <td>
                                <input type="number" value="@item.Quantity" />
                                <input type="submit" value="Update"/>
                            </td>

                            <td>@Convert.ToDouble(item.Product.UnitPrice)</td>
                            <td>@Total</td>
                        </tr>
                    }
                </tbody>
            </table>




            <button id="btnContinue" class="btn btn-secondary">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="btn btn-secondary">Cập nhật giỏ hàng</button>
            <button id="btnDeleteAll" class="btn btn-secondary">Xoá giỏ hàng</button>
            <button id="btnPayment" class="btn btn-secondary">Thanh toán</button>
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }

    </div>
</div>